<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Handing Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:object="${client}">
        <h1>Client found! :)</h1>
        <p th:text="'id: ' + *{id}"/>
        <p th:text="'firstname: ' + *{firstname}" />
        <p th:text="'lastname: ' + *{lastname}" />

        <a href="/client">Find another client!</a>
    </div>

    <form action="/clientupdate" th:action="@{/clientupdate}" th:object="${client}" method="get">
         <p><input type="hidden" th:field="*{id}"/></p>
        <p><input type="hidden" th:field="*{firstname}" /></p>
        <p><input type="hidden" th:field="*{lastname}" /></p>
        <p><input type="submit" value="Update" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>