<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handing Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
    <h1>Client found! :)</h1>
    <p th:text="'id: ' + ${client.id}"/>
    <p th:text="'firstname: ' + ${client.firstname}" />
    <p th:text="'lastname: ' + ${client.lastname}" />
    <a href="/client">Submit another message</a>

    <!--
    <form th:action="@{/clientupdate}" th:object="${client}" method="post">
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
         <a href="/clientupdate">Do you want update this client?</a>
    </form>
    -->
<!--<a href="/clientupdate">Do you want update this client?</a>-->
</body>
</html>